@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Uncial+Antiqua&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: "Playfair", serif;
}
h1,
h2,
h3,
h6 {
    font-family: "Uncial Antiqua", system-ui;
}