* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: brown;
}
#s1 {
    background-color: lightyellow;
    width: 85%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding: 24px;
}
h1 {
    color: goldenrod;
}
img {
    max-width: 500px;
    margin: 20px;
    padding: 20px;
}